#navbar {
  background-color: #F7F7F7;
  z-index: 1;
  margin-top: 20px;
}

#carouselExampleIndicators {
  margin-top: -20px;
  z-index: 0;
}

.text-area {
  padding: 2em;
  background-color: #F7F7F7;
}

.nav-link {
  color: #066A75;
  font-weight: bold;
}

.text-example {
  background-color: #F7F7F7;
}

.right-col {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  padding-right: 0px;
  padding-left: 0px;
}

.left-col {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  padding-right: 0px;
  padding-left: 0px;
}

.text-col {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.text-div {
  padding: 2em;
}
.page-footer{
  margin-top: 2em;
}

.nav-link:hover {
  border-bottom: 4px solid #2196F3;
  color: #2196F3;
}

.dropdown-menu {
  z-index: 1;
  flex-wrap: nowrap;
}

.nav-item {
  position:relative;
  z-index:1;
}

.fa-circle{
  font-size: 0.3em;
}
